[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
autopep8 = "*"

[packages]
falcon = "*"
gunicorn = "*"
pymongo = "*"
redis = "*"
bcrypt = "*"
cerberus = ""
kavenegar = "*"
pyjwt = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
